# Node modules
node_modules/

# Next.js build output
.next/
out/

# Optional: production build folder
build/

# Testing
coverage/

# Env files
.env*
frontend/.env*   # in case something still left in old folder

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts
